/* Hoja de estilos generales */
/*ESPECIFICACION: 001*/
body {
    font-family: Arial, sans-serif;
    margin: 2rem;
    background-color: #f7f7f7;
    text-align: center;
    color: #333;
}

/* Encabezado */
/*ESPECIFICACION: 002*/
header h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

/* Encabezado 2 */
/* ESPECIFICACION: 001*/
h2 {
    font-size:1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

/* Formulario */
/* ESPECIFICACION: 001*/
form {
    margin-bottom: 1.5rem;
}

/* Caja de texto */
/* ESPECIFICACION: 001*/
input {
    padding: 0.5rem;
    font-size: 1rem;
}

/* Botón de los juegos (pantalla de inicio)*/
/*ESPECIFICACION: 002*/
main button {
    padding: 1em 2em;
    margin: 0.5rem;
    font-size: 1.125rem; /* ≈18px */
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
}

/* Boton de los juegos (pantalla de inicio) cuando esta el cursor*/
/*ESPECIFICACION: 002*/
main button:hover {
    background-color: #45a049;
}

/* Pie de página */
/*ESPECIFICACION: 001*/
footer {
    margin-top: 3rem;
    font-size: 0.875rem; 
    color: #666;
}

/* Tabla jugadores */
table {
    width: 80%;
    border-collapse: collapse;
    margin: 1em auto;
    text-align: center;
}

caption {
    font-weight: bold;
    margin-bottom: 0.5em;
}

th, td{
    border: 0.1em solid #333;
    padding: 0.5em;
}

button {
    border: none;
    background-color: #4caf50;
    color: white;
    padding: 0.4em 0.8em;
    cursor: pointer;
    border-radius: 0.3em;
}

button:hover {
    background-color: #45a049;
}

th:hover {
    background-color: #f2f2f2;
}
